@keyframes neonGlow {
  0% { box-shadow: 0 0 5px #ff0000; }
  50% { box-shadow: 0 0 20px #ff0000; }
  100% { box-shadow: 0 0 5px #ff0000; }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: url('./assets/spikes.webp') repeat, #0d0d0d;
  opacity: 0.9;
  

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #ffffff;
}

* {
  margin: auto;
  box-sizing: border-box;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  min-height: 100vh;

}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0;
  justify-content: start;
  transition: all 0.2s ease-in;
  color: black;
  border: solid #0d0d0d;
}

button:hover {
  border-color: white;
  color: white;
  background-color: black;
  border: solid #0d0d0d;

}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.Pokedex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo img {
  width: 500px;

}

.Pokedex {
  width: 70vw;
  padding: 50px;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;

}

.card-pokemon {
  width: 100%;

}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 20px;
  position : relative;

}

.container:hover {
  cursor: pointer;

}

.card {
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 15%);
  width: 100%;
  margin: 0px;
  gap: 0px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.02)
}

.tilt-card {
  width: 100%;
}

.card-image img {
  width: 100%;
  text-align: center;
}

.card-image {
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  margin: 0;
  align-items: baseline;
  align-content: baseline;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 30px;
  width : 100%;
  
  
}

  

.card-content h1 {
  margin : auto 0;
  font-size: clamp(0.625rem, 0.3602rem + 1.1299vw, 1.25rem);;
}


.list-type ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: left;
  align-items: baseline;
  align-content: baseline;
  text-align: left;
  margin: 0px;
  padding-inline-start: 0px;
  padding-top: 10px;
  width: 100%;
}

.list-type ul li {
  list-style-type: none;
  border-radius: 10px;
  color: black;
  margin: 0px;
  background-color: rgba(255, 255, 255, 100%);
  padding: 5px 10px;
  text-align: left;
  font-size: clamp(0.5rem, 0.3676rem + 0.565vw, 0.8125rem);;

}

.search-panel input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.02);
  padding: 10px 20px;
  color: rgb(0, 0, 0);

}

.search-panel input:hover {}

.search-panel input:focus {

  outline: none;
}

.search-panel {
  border: none;
}

.search-panel:hover {
  border: none;
}







@media screen and (max-width: 768px) {}

@media only screen and (max-width: 900px) {
  .Pokedex {
    width: 40vw;
    grid-template-columns: auto auto;
  }

  .logo img {
    width: 200px;
  }

  .card-image img {
    width: 100px;
  }


}






.container-SinglePokemon {
  max-width: 60vw;
  min-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 20px;
  background-color: rgba(46, 45, 45, 0.89);
  border-radius: 20px;
  padding : 10px 10px;
  margin: 0px;
}

.card-SinglePokemon {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 15%);
  width: 50%;
  margin: 0px;
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.02)
}

.card-SinglePokemon img {
  width: 100%;
}

.header-card-SinglePokemon h2 {
  margin: 0;
  font-size: 2rem;
}

.header-card-SinglePokemon p {
 
  font-size: 25px;
}

.header-card-SinglePokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: start;
  align-content: center ;
  gap: 20px;
  width: 50%;
  margin: 0;
}

.header-description-SinglePokemon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .container-SinglePokemon {
    flex-direction: column;
    gap: 20px;
    max-width: 30vw;
    margin: 100px auto;
    padding-bottom : 20px;
  }

  

  .card-SinglePokemon {
    width: 100%;
  }

  .card-SinglePokemon img {
    width: 100%;
  }

  .header-card-SinglePokemon {
    width: 100%;
  }

  .header-card-SinglePokemon h2 {
    font-size: 1.5rem;
  }

  .header-card-SinglePokemon p {
    font-size: 1rem;
  }

  .header-description-SinglePokemon {
    width: 100%;
  }

  .header-description-SinglePokemon h3 {
    font-size: 1.5rem;
  }

  .header-description-SinglePokemon p {
    font-size: 1rem;
  }
  
}