:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
*{
  margin: auto;
  box-sizing: border-box;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  min-height: 100vh;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin : 0;
  justify-content: start;
  transition : all 0.2s ease-in
}
button:hover {
  border-color: white;
  color:white;
  background-color: black;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Pokedex-container{
  width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap : 20px;
  padding-top : 50px;
  padding-bottom : 50px;
}

.logo img{
  width : 500px;
  
}

.Pokedex{
  width : 60vw;
  padding : 50px;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
  row-gap : 50px;
  justify-content: center;
}
.card-pokemon{
  width : 100%;
  
}
.container{
  width : 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius : 20px;

}
.container:hover{
  cursor: pointer;
  
}
.card{
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 10%);
  width : 100%;
  margin: 0px;
  gap : 0px;
  padding : 20px;
  background-color: rgba(255, 255, 255, 0.02)
  
}
.tilt-card{
  width: 100%;
}
.card-image img{
  width : 150px;
  text-align: center;
}
.card-image{
  text-align: center;
}

.card-content{
  display: flex;
  flex-direction: column;
  gap : 10px;
  justify-content: left;
  margin: 0;
  align-items: baseline;
  align-content: baseline;
  text-align: left;
  padding-left : 20px;
  padding-bottom : 30px
}

.card-content h1,h2,div{
  margin : 0;
}




